* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	background: #bfa57c;
	color: #fff;
}

body {
	color: #808080;
	font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
}

h1, h2, h3, h4, b {
	font-weight: 300;
	font-family: bree-web, Bree, sans-serif;
}
	h2 {
		font-size: 28px;
		padding-bottom: 40px;
	}
	b {
		font-weight: 500;
		font-size: 16px;

		color: #c3522f;
	}

.banner {
	position: relative;
	width: 100%;
	overflow: auto;

	font-size: 18px;
	line-height: 24px;
	text-align: center;

	color: rgba(255,255,255,.6);
	text-shadow: 0 0 1px rgba(0,0,0,.05), 0 1px 2px rgba(0,0,0,.3);

	background: #5b4d3d;
	box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
	.banner ul {
		list-style: none;
		width: 300%;
	}
	.banner ul li {
		display: block;
		float: left;
		width: 33%;
		min-height: 350px;

		-o-background-size: 100% 100%;
		-ms-background-size: 100% 100%;
		-moz-background-size: 100% 100%;
		-webkit-background-size: 100% 100%;
		background-size: 100% 100%;

		box-shadow: inset 0 -3px 6px rgba(0,0,0,.1);
	}

	.banner .inner {
		padding: 120px 0 100px;
	}

	.banner h1, .banner h2 {
		font-size: 40px;
		line-height: 52px;

		color: #fff;
	}

	.banner, .banner .dot {
		-webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-ms-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		-o-filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
		filter: drop-shadow(0 1px 2px rgba(0,0,0,.3));
	}

	.banner .dots {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 20px;
	}
		.banner .dots li {
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 4px;

			text-indent: -999em;

			border: 2px solid #fff;
			border-radius: 6px;

			cursor: pointer;
			opacity: .4;

			-webkit-transition: background .5s, opacity .5s;
			-moz-transition: background .5s, opacity .5s;
			transition: background .5s, opacity .5s;
		}
			.banner .dots li.active {
				background: #fff;
				opacity: 1;
			}

	.banner .arrows {
		position: absolute;
		bottom: 20px;
		right: 20px;
		color: #fff;
	}
		.banner .arrow {
			display: inline;
			padding-left: 10px;
			cursor: pointer;
		}

.service {
	overflow: hidden;
	padding: 50px 0;

	background: #f7f7f6;
	box-shadow: inset 0 -1px 3px rgba(0,0,0,.03);
}
	.service li {
		position: relative;
		padding: 0 25px 0 40px;
		list-style: none;

		width: 25%;
		float: left;
	}
		.service li:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;

			display: block;
			width: 24px;
			height: 22px;

			background: url('../images/icons.png');
		}
			.service li.service2:before { background-position: 0 -22px; }
			.service li.service3:before { background-position: 0 -44px; }
			.service li.service4:before { background-position: 0 -66px; }
			
	.service b {
		display: block;
		padding-bottom: 6px;
	}

.case {
	padding: 60px 0;
}
	.case h2 {
		color: #7c6853;
	}

.cooperation {
	padding: 40px 0;
	background: #f7f7f6;
}
	.cooperation h2 {
		color: #7c6853;
	}
	.cooperation h3 {
		padding-bottom: 1px;

		color: #7b6b53;
		font-size: 20px;
		line-height: 10px;
	}
	.cooperation li {
		position: relative;
		width: 100%;
		margin: 0 0 40px 15px;
		padding-left: 10px;
	}
	.cooperation p {
		padding-bottom: 1px;
	}

.contact {
	padding: 40px 0;

	background: #39342d;
	color: #7b7368;

	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	text-shadow: 0 1px 1px rgba(0,0,0,.2);
}
	.contact p {
		font-size: 16px;
		line-height: 25px;

		padding-bottom: 20px;
	}
	.contact h2 {
		color: #fff;
		padding-bottom: 15px;
	}

.footer {
	padding: 80px 0 60px;
	text-align: center;
}

.wrap {
	margin: 0 auto;
	width: 960px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 900px) {
	.wrap {
		width: 90%;
	}

	.banner h1, .banner h2 {
		font-size: 24px;
		line-height: 30px;
	}
	.banner ul li {
		height: 240px;
	}
	.banner .inner {
		padding-top: 100px;
		padding-bottom: 50px;
	}
	.banner p {
		font-size: 15px;
		width: 80%;
		margin: 0 auto;
	}
	.service li {
		width: 100%;
		margin-left: 10px;
		margin-bottom: 30px;
	}
	.cooperation li {
		width: 90%;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.features li:before {
		background: url('../images/icons@2x.png');
		background-size: 100%;
	}
}